# dependencies
/node_modules

# next.js
/.next/
/out/

# testing
/coverage/
/playwright-report/
/test-results/
/tmp/

# production
/build

# local
.DS_Store
*.pem
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
